body{
margin: 0;
font-family: Arial, sans-serif;
font-size: 15px;
line-height: 1.5; 
color: #121212 ;
background: url(img/bg2.jpg) center no-repeat ;
}
/*Heder*/
    
.page-index{
    width:800px;
    margin: 20px auto;
    background-color: url(img/bg2.jpg) center no-repeat;
}

.header {
    padding: 20px;
    background-color: #121212;
}
.header-title{
    margin: 0;
    
    font-size: 24px;
    color: #fff;
    text-align: center;
}
.header-subtitel {
    margin: 0;
    font-size: 16px;
    color: #fdfdfd;
    text-align: center;
    font-weight: 400;
}
/*Nav*/
.nav{
    text-align: center
}
.nav-link{
    display: inline-block;
    padding: 8px 12px;
    
    color: #121212;
    text-decoration: none;
}
.nav-link:hover {
    
    background-color: #646464;
    
}
/*Content*/
.content{
    padding: 5px;
}
.content-title{
    margin: 0 0 15px ;
    font-size: 24px;
    color: #b83232;
}
.content-text{
    margin-bottom: 20px;
    border-bottom: 1px solid #121212;
}
/*Footer*/
.footer{
    padding: 2px;
    text-align: center;
}
.social-icons {
  text-align: right;
  }  
.social-icons li {
  display:inline-block;
  list-style-type:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  }
.social-icons li a {
  border-bottom: none;
  }
.social-icons li img {
  width:40px;
  height:40px;
  margin-right: 20px;
}
.social-icons li img:{
    background-color: azure;
}
